@tailwind base;
@tailwind components;
@tailwind utilities;


.drawer-side a.active {
    color: white;
    background-color: black;
}
.menu a.active {
    color: white;
    background-color: black;
    z-index: 11;
}